.new-btn {
    background: #e41212;
    padding: 7px 10px;
    display: inline-block;
    margin-bottom: 15px;
    margin-top: 10px;
}
.link-text
{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    outline: 0;
    font-weight: bold;
}
a.link-text:hover {
    color: #fff;
    outline: 0;
}
.stuffbox {
    padding: 0px 15px;
}
.add-area table {
    width: 100%;
    display: block;
}
.add-area tbody {
    width: 100%;
    display: block;
}
.add-area textarea.tdinputa {
    width: 60%;
    margin-right: 10px;
}
.add-area td:last-child {
    width: 90%;
}
.add-area tr {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}
.add-area td:first-child {
    width: 10%;
}
.add-area td input {
    width: 60%;
    margin-right: 10px;
}
.add-area td span {
    width: 40%;
    font-style: italic;
}
button.tlbtn-view-btn {
    width: 100%;
}

table.dataTable, table.dataTable th, table.dataTable td {
    box-sizing: content-box;
    margin-top: 10px;
    background: #fff;
}
div#myTable_filter {
    margin-bottom: 15px;
    width: 50%;
}
.dataTables_wrapper .dataTables_filter input {
    margin-left: 0.5em;
    width: 81%;
}
div#myTable_paginate {
    margin-top: 10px;
}
table#myTable {
    border: 1px solid #ddd;
}